.container
    .jumpotron
        h1 Multivision
        p Welcome to Multivision!

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")